<app-wrapper-page>
    <app-filter-container></app-filter-container>
    <ng-container *ngFor="let book of books | tagFilter: ['tags'] : tegForFilter">
        <app-book-preview
            [author]="book.author"
            [id]="book.id"
            [title]="book.title"
            [description]="book.description"
            [tags]="book.tags"
        ></app-book-preview>
    </ng-container>
    <ng-container *ngIf="books | tagFilter: ['tags'] : tegForFilter as result">
        <app-placeholder-not-result *ngIf="result.length == 0"></app-placeholder-not-result>
    </ng-container>
</app-wrapper-page>
