<div class="book">
    <app-wrapper-page>
        <div class="book__container">
            <div class="book__content">
                <div class="book__back" (click)="appService.switchingPage(prevPage)">< Back</div>
                <div class="book__author">{{book?.author}}</div>
                <div class="book__title">{{book?.title}}</div>
                <div class="book__description">{{book?.description}}</div>
            </div>
            <div class="book__btn">
                <ng-container *ngFor="let status of beforeStatus">
                    <app-btn-change-status
                        [name]="status"
                        (click)="changeStatus(book.id, prevPage, status)">{{status}}>
                    </app-btn-change-status>
                </ng-container>
            </div>
        </div>
    </app-wrapper-page>
</div>
