.book {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;

    &__container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    &__back {
        padding: 10px 0;
        margin-bottom: 20px;
        font-size: 20px;
        cursor: pointer;
    }

    &__author {
        margin-bottom: 20px;
        font-size: 30px;
        cursor: pointer;
    }

    &__title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__btn {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
        bottom: 0;
    }
}
