.wrapper-book-preview{
    padding: 30px 30px;
    border-left: 1px solid #e8ebed;
    border-right: 1px solid #e8ebed;
    box-sizing: border-box;
    box-shadow: 0 5px 5px -5px rgb(34 60 80 / 60%);

}
