.app {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;

    &__nav-tabs {
        position: relative;
    }

    &__content {
        height: 100%;
        overflow: auto;
    }
}
