<app-wrapper-book-preview>
    <div class="book-preview__top-container">
        <div class="book-preview__author">{{author}}</div>
        <div class="book-preview__btn" (click)="appService.switchingPage( 'book/'+ id)">start reading =></div>
    </div>
    <div class="book-preview__title">{{title}}</div>
    <div class="book-preview__description">{{description}}</div>
    <div class="book-preview__tag-container">
        <ng-container *ngFor="let tag of tags">
            <app-tag class="book-preview__tag" [name]="tag"></app-tag>
        </ng-container>
    </div>
</app-wrapper-book-preview>
