.book-preview {

    &__top-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__author {

    }

    &__btn {
        min-width: 135px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    &__description {
        margin: 0;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__tag-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    &__tag {
        margin-right: 5px;
        margin-bottom: 5px;

        &:last-child{
            margin-right: 0;
        }
    }
}
