<div class="nav-tabs">
    <div [ngClass]="{'nav-tabs__btn': true, 'nav-tabs__btn--active': activePage == 'to-read'}" (click)="switchingPage('to-read')">To Read</div>
    <div [ngClass]="{'nav-tabs__btn': true, 'nav-tabs__btn--active': activePage == 'in-progress'}"(click)="switchingPage('in-progress')">In Progress</div>
    <div [ngClass]="{'nav-tabs__btn': true, 'nav-tabs__btn--active': activePage == 'done'}" (click)="switchingPage('done')">Done</div>
</div>
