.nav-tabs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-left: 1px solid #e8ebed;
    border-right: 1px solid #e8ebed;
    box-sizing: border-box;
    box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
    background: #fff;

    &__btn {
        padding: 30px;
        cursor: pointer;

        &--active{
            cursor: auto;
            font-weight: bold;
        }
    }
}
