.filter-container {

    &__clear{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px;
        border: 1px solid #000;
        background: cornflowerblue;
        cursor: pointer;
    }

    &__tags_container {
        display: flex;
        flex-wrap: wrap;
    }

    &__app-teg {
        margin-right: 6px;
        margin-bottom: 5px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }
    }
}
