<app-wrapper-book-preview>
    <div class="filter-container__tags_container">
        <ng-container *ngFor="let tag of appService.tagList">
            <app-tag
                class="filter-container__app-teg"
                (click)="getTag(tag)"
                [name]="tag"
                [isActive]="appService.activeTag == tag"
            ></app-tag>
        </ng-container>
    </div>
    <div class="filter-container__clear" (click)="getTag(null)">Clear</div>
</app-wrapper-book-preview>
